{
  "tabWidth": 2,
  "useTabs": false,
  "pluginSearchDirs": false,
  "printWidth": 100,
  "proseWrap": "never",
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid"
}
