* {
  margin: 0;
  padding: 0;
}

.wd-micro-setting-table {
  .ant-table-content {
    min-height: 0 !important;
    padding-bottom: 20px;
  }
}

.wd-micro-modal-table {
  .wd-table .ant-table-tbody > tr > td {
    border-bottom: none;
  }
  .ant-table-content {
    min-height: 350px !important;
    max-height: 350px;
    overflow-y: scroll !important;
    .ant-empty {
      height: 200px;
      padding-top: 100px;
    }
  }
  .ant-form {
    & > .ant-row {
      & > .ant-col {
        &:first-child {
          padding-left: 0 !important;
        }
      }
    }
  }
}

.preview-modal {
  .ant-modal-body {
    height: auto !important;
    overflow: overlay;
  }
  .ant-modal-content {
    border-radius: 10px;
  }
}

.qr-code-box {
  width: 127px;
  height: 127px;
  border-radius: 13px;
  margin-top: 11px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.preview-tips {
  width: 92px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1677ff;
  border-radius: 15px;
  color: white;
  margin-top: 11px;
  margin-bottom: 34px;
  font-size: 14px;
}
