.preview-modal {
  .ant-modal-body {
    height: auto !important;
    overflow: overlay;
  }
}

.qr-code-box {
  width: 300px;
  height: 300px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.preview-tips {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1677ff;
  border-radius: 15px;
  color: white;
  margin-left: 98px;
}
